.icon_windowstore {
	background-image: url('../../assets/store/windows-store.svg');
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: center; */
	width: 8.4375rem;
	height: 2.5rem;
	display: block;
	text-indent: -9999px;
}