main {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	width: 100%;
	height: 100%;
}

.pageTitle {
	font-size: 1.5rem;
	padding: 0.8rem var(--gutter-x);
	background-color: #414141;
	color: #fff;
}

.pageContent {
	color: #333;
	padding: 2rem var(--gutter-x);
	height: calc(100vh - 21.5rem);
}