html {
	--gutter-x: 1rem;
}

body {
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	color: #fff;
	margin: 0;
	background-color: #f4f4f4;
	height: calc(100% - 4rem);
	/* Adjusted height to account for header */
}

@media (min-width: 600px) {
	html {
		--gutter-x: 4rem;
	}
}

@media (min-width: 1024px) {
	html {
		--gutter-x: 8rem;
	}
}

@media (min-width: 1440px) {
	html {
		--gutter-x: 10rem;
	}
}

@media (min-width: 1600px) {
	html {
		--gutter-x: 12rem;
	}
}